* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ecf0f3;
}

.container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    background-color: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
    height:30%;
    background: url(../img/balogo.png) center / cover;

}

.brand-title {
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 10px;
    color: #128AFA;
    font-weight:lighter;
    float:right;
}


input{
    height: 10%;
    width: auto;
    padding: 0;
    border: none;
    outline: none;
    font-family: sans-serif
}
label{
    line-height: 0.8;
}

label {
    margin-bottom: 0px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}
p{
    height: auto;
    width: 25px;
    display: inline;
    white-space:nowrap;
    vertical-align:middle;
}
input {
    padding: 10px 10px 10px 20px;
    height: 40px;
    width: 200px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    caret-color: #128AFA;

}

.button {
    width: 90%;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0.75em 1em;
    color: #128AFA;
    border: 0.15em solid #128AFA;
    border-radius: 1em;
    transition: 1s;
}
.button:before,
.button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width:200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: #128AFA;
    transition: 2s;
}

.button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button:hover,
.button:focus {
    color: #cbced1;
}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
    transform: none;
    background-color: #128AFA;
}

.juz{
    padding: 4% 0;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
}

select {
    border: none;
    padding: 10px 10px 10px 10px;
    height: 40px;
    width: 200px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    caret-color: #128AFA;
}

select:focus {
    box-shadow: inset 4px 4px 6px #ffffff, inset -4px -4px 6px #ffffff;
}

select option {
    background-color: #ffffff;
}

